<!DOCTYPE html>
<html lang="en">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<head>
		<title>Eat the burger</title>
	</head>
	<body>
		<img src = "assets/images/hamburger-3184108_1920.png">

		{{{ body }}}

	</body>
</html>